@media (max-width: 1200px) {
  .header {
    flex-direction: column;
  }

  .header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
  }

  .header ul li a {
    font-size: 0.7rem;
    padding: 0px 5px;
    margin: 18px 8px;
  }
  .timing{
    display: none;
  }
  .address{
    display: none;
  }
  /*................image 1.........*/

  .heading {
    display: none;
  }

  .image1 img {
    height: 50vh;
  }
  /*................about the cafe start.........*/

  .about {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .para1 {
    margin-left: 20px;
  }
  .heading2 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    background-color: black;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 0px;
  }

  .para2 {
    padding: 15px 20px;
    background-color: rgb(234, 232, 232);
    width: 100%;
    padding-left: 10px;
    padding: 0px 10px 0px 10px;
    height: auto;
  }

  .box {
    display: none;
  }

  /*................image 2.........*/

  .image2 img {
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
  }

  .opening {
    margin-left: 20px;
    font-size: 0 8rem;
  }
  /*................menu.........*/

  .menu {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .menuItems {
    width: 100%;
    height: auto;
  }

  .selection {
    flex-direction: column;
    align-items: center;
  }
  .btn1,
  .btn2 {
    margin-top: 10px;
    padding: 8px 40px;
  }

  .Eatitems,
  .DrinkItems {
    margin: 20px 0px 0px 10px;
  }
  .heading3 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    background-color: black;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 1rem;
    padding: 4px 0px;
  }
  /*................Image 3.........*/
  .image3 {
    width: 100%;
    height: 60vh;
  }

  .image3 img {
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  /*................Where.........*/
  .location {
    width: 100%;
  }

  .heading4 {
    width: 40%;
  }

  .para3 {
    width: 100%;
    font-size: 1rem;
    color: (41, 41, 41);
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .image4 {
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
  }
  .para4 {
    width: 100%;
    margin-left: 20px;
  }
  .para5 {
    margin-left: 20px;
  }
  /*................Reservation.........*/
  .reservation {
    width: 100%;
  }
  .form-group input {
    height: 5vh;
    width: 90%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1.03rem;
  }
  .sendBtn {
    width: 40%;
    margin-right: 0px;
    padding: 12px 14px;
    background-color: black;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 1.02rem;
    border: none;
    margin-bottom: 30px;
  }
}
